/*------------------------------------*\
    RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
    v2.0b1 | 201101
    NOTE:WORK IN PROGRESS
    USE WITH CAUTION AND TEST WITH ABANDON */

html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
    display:block;
}
body{
    line-height:1;
}
ol,ul{
    list-style:none;
}
blockquote,q{
    quotes:none;
}
blockquote:before,blockquote:after,
q:before,q:after{
    content:’’;
    content:none;
}
/* remember to define visible focus styles!
:focus{
    outline:?????;
} */

/* remember to highlight inserts somehow! */
ins{
    text-decoration:none;
}
del{
    text-decoration:line-through;
}

table{
    border-collapse:collapse;
    border-spacing:0;
}





/*------------------------------------*\
    $MAIN
\*------------------------------------*/
/* GO! */

.header {
  background:url(../images/bai-1600.jpg) no-repeat 50% 50%;
  background-size: 100% auto;
  height: 600px;
  max-width: 1600px;
  margin: 0 auto;
}

@media screen and (max-width: 900px) {
  .header {
    background-image:url(../images/bai-900.jpg);
    background-size: auto 100%;
  }
}

@media screen and (max-width: 550px) {
  .header {
    background-image:url(../images/bai-900.jpg);
    background-position: 100% 50%;
  }
}

.header > h1 {
  font-family:'Libre Baskerville', serif;
  font-size: 60px;
  padding-top:300px;
}

.header > h2 {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 36px;
  text-transform: uppercase;
  padding-top:16px;
}

.header > h1,
.header > h2 {
  color: #fff;
  text-align:center;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}

.header-links {
  width: 217px;
  margin: 20px auto 0 auto;
}

.header-link {
  display:inline-block;
  width: 40px;
  height: 40px;
  margin-left: 15px;
}

.header-link:first-child {
  margin-left: 0;
}

.header-link > a {
  color:#fff;
  font-size: 40px;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}


/** sections **/

.section {
  max-width:1440px;
  margin:0 auto;
  background: #fff;
}

.section-wrap {
  position:relative;
  height: 500px;
  width: 940px;
  margin: 0 auto;
}

@media screen and (max-width: 940px) {
  .section-wrap {
    width: 300px;
    height: auto;
  }
}

.section-content {
  position: absolute;
  top: 50%;
  width: 500px;
  transform: translate3d(0, -50%, 0);
}

@media screen and (max-width: 940px) {
  .section-content{
    position: static;
    top: auto;
    width: 100%;
    transform: translate3d(0, 0, 0);
    margin: 20px 0;
  }
}

.section-header {
  position: absolute;
  top: 40px;
  width: 100%;
  padding-bottom: 10px;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 30px;
  font-weight: 700;
  font-family: 'Libre Baskerville', serif;
  letter-spacing: 1px;
  color: #4a4a4a;
}

@media screen and (max-width: 940px) {
  .section-header {
    position: static;
    padding-top: 40px;
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
  }
}

.section-copy {
  margin-top: 14px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4em;
  color: #4a4a4a;
}

@media screen and (max-width: 940px) {
  .section-copy {
    text-align: center;
    font-size: 14px;
  }
}

.section-list {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  list-style-type: disc;
  color: #444;
  margin-left: 1em;
  margin-top: 0.25em;
}

@media screen and (max-width: 940px) {
  .section-list {
    font-size: 14px;
  }
}

.section-list > li {
  padding-bottom: 0.125em;
  line-height: 1.25em;
}

.section-cta {
  display:inline-block;
  position: absolute;
  left: 50%;
  bottom: 50px;
  transform: translateX(-50%);
}

@media screen and (max-width: 940px) {
  .section-cta {
    position: static;
    margin: 0 60px 30px;
    transform: none;
    left: auto;
    bottom: auto;
  }
}

.section-cta > a {
  display: inline-block;
  width: 180px;
  padding: 1em 0;
  margin-left: 1em;
  font-family: Raleway, sans-serif;
  background: #444;
  color: #fff;
  text-align:center;
  text-decoration:none;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 940px) {
  .section-cta > a {
    display: block;
    margin: 0;
    margin-bottom: 5px;
  }
}

.section-cta > a:first-child {
  margin-left: 0;
}

.section-cta > a:hover {
  background: #222;
}

.section-image {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate3d(0, -50%, 0);
}


@media screen and (max-width: 940px) {
  .section-image {
    position: static;
    transform: translate3d(0, 0, 0);
    top: auto;
  }
}

@media screen and (max-width: 940px) {
  .section-image > img {
    width: 100%;
  }
}

@media screen and (max-width: 940px) {
  .section-iframe-large {
    display: none;
  }
}

.section-iframe-small {
  display: none;
}

@media screen and (max-width: 940px) {
  .section-iframe-small {
    display: block;
  }
}

.section-heading {
  background:#fff;
}
.group-heading {
  font-size: 18px;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.4);
}

.section-heading > .section-wrap {
  height: auto;
  margin: 20px auto;
}
